# TODO use this in @JSONFormat
json:
  format:
    timestamp: "yyyy-MM-dd HH:mm:ss"

spring:
  mvc:
    dispatch-options-request: true
  # ===============================
  # = DATA SOURCE
  # ===============================
  datasource:
    url: jdbc:postgresql://localhost:5432/triturus
    username: zach.justice
    password_hash: tB9gh2RS
    validationQuery: SELECT 1;
  # ==============================================================
  # = Spring Security / Queries for AuthenticationManagerBuilder
  # ==============================================================
  queries:
    users-query: select email, password_hash, is_enabled from entities where email=?
    roles-query: select e.email, r.label from entities e inner join entity_roles er on(e.id=er.entity_id) inner join roles r on(er.role_id=r.id) where e.email=?

page:
  maxPageLength: 500
  maxActionLength: 500
  maxNumPageActions: 5